<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue的动态组件与v-once指令</title>
  <script src="../until/vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- 动态组件component标签 -->
    <component :is="type"></component>
    <!-- <child-one v-if="type === 'child-one'"></child-one>
    <child-two v-if="type === 'child-two'"></child-two> -->
    <button @click="handleBtnClick">change</button>
  </div>
</body>
<script>
  // v-once第一次加载直接放置到内存中，下次显示直接内存获取不用重新插入
  Vue.component('child-one', {
    template: '<div v-once>child-one</div>'
  })
  Vue.component('child-two', {
    template: '<div v-once>child-two</div>'
  })
  var app = new Vue({ // 根实例
    el: '#app',
    data: {
      type: "child-one",
    },
    methods: {
      handleBtnClick: function() {
        this.type = this.type === 'child-one' ? 'child-two' : 'child-one'
      }
    }
  })
</script>
</html>